@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Poppins', sans-serif;

}

:root {

    --bg: #2e0239;
    --bgInput: #AF5D9C;
    --textColor: #DDDADA;
    --bgButton: #AF88B8;

    --sliderBg: #3F164B;
    --poiterSlider: #551E65;

    font-size: 62.5%;

}

body {

    background-color: var(--bg);

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.white-logo {
    position: absolute;
    top: 10px;
    left: 60px;
    height: 70px;
    cursor: pointer;
}

h2 {

    color: var(--textColor);
    font-size: 3.5rem;
    opacity: 0.9;

}

.special {
    width: 100%;
    height: 100%;

    position: absolute;

    z-index: 1;

    align-items: center;
    justify-content: space-evenly;
}

.slider {
    height: 2.5rem;
    width: 12.3rem;
    border-radius: 25px;
    background-color: var(--sliderBg);

    cursor: pointer;
    position: relative;

    align-items: center;
}

.poiter {

    height: 85%;
    width: 5rem;


    border-radius: 2.5rem;
    background-color: var(--poiterSlider);


    transform: translate(0.2rem, 0.25rem);
}

.active {

    transform: translate(6.1rem, .25rem);

}

.slider-container {

    display: flex;

}

form {

    padding: 20px;
    border-radius: 10px;
    margin-bottom: 70px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.registration-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.column {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.column-wrapper {

    display: flex;
    gap: 20px;

}

label {

    padding-bottom: 2px;
    display: none;

}

input {

    border: none;
    background-color: var(--bgInput);
    color: var(--textColor);

    height: 35px;
    width: 280px;

    padding-left: 15px;
    border-radius: 25px;

}

input::placeholder {

    color: var(--textColor);
    padding: 5px 0 5px 5px;

}

input:focus {

    outline: 0;

}

button {

    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    background-color: var(--bgButton);
    color: var(--bg);

}

button:hover {

    cursor: pointer;

}

p {
    color: var(--textColor);
    font-size: 1.2rem;
}

.column p {
    padding-left: 1rem;
}

.line {
    display: flex;
    gap: 5px;
}

.new-account {
    cursor: pointer;
    color: var(--bgInput);
}

.moon {
    position: absolute;
    top: 0;
    right: 0;
    height: 215px;
}

.ondaa {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
    z-index: -1;
}

.rocket {
    position: absolute;
    left: 0;
    top: 210px;
    height: 450px;

}

.cloud {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -3;

}

.star-1 {

    position: absolute;
    top: 5%;
    left: 7%;

}

.star-2 {

    position: absolute;
    top: 65%;
    left: 70%;
    height: 25%;
    opacity: 0.7;

}

.star-3 {

    position: absolute;
    top: 5%;
    left: 73%;
    height: 25%;
    opacity: 0.7;
    transform: rotate(90deg);

}

.star-4 {
    position: absolute;
    top: 4%;
    left: 10%;
    height: 30%;
    transform: rotate(228deg);
}

.star-5 {
    position: absolute;
    top: 1.8%;
    right: 20%;
    height: 20%;
    transform: rotate(121deg);
    opacity: 0.7;
}

.star-6 {
    position: absolute;
    bottom: 43.8%;
    left: 4%;
    height: 19%;
    transform: rotate(96deg);
}

.star-7 {
    position: absolute;
    top: -3%;
    left: 8%;
    height: 31%;
    transform: rotate(222deg);
}

.none {
    display: none;
}

@media (max-width: 890px) {

    .star-1 {
        display: none;
    }

}

@media (max-width: 750px) {

    form {
        margin-top: 70px;
    }

    .column-wrapper {
        flex-direction: column;
        gap: 10px;
    }

}